<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bootstrap Sidebar</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{ static_url('css/styles.css') }}" rel="stylesheet">
        {% block head %}{% end %}
	</head>
	<body>

<header class="navbar navbar-default navbar-static-top" role="banner">
    {% block navbar %}
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Simpals Blog</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/blog/add/">Add Blog Entry</a>
        </li>
      {% if user %}
        <li>
          <a href="/auth/logout/">Logout</a>
        </li>
      {% end %}
      </ul>
    </nav>
  </div>
    {% end %}
</header>

<!-- Begin Body -->
<div class="container">
	<div class="row">
        {% block content %}

        {% end %}
  	</div>
</div>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
		<script src="{{ static_url('js/scripts.js') }}"></script>

    {% block footer %}{% end %}
	</body>
</html>