{% extends "base.html" %}
{% block content %}

    <div class="col-md-9">

            <h2 id="{{ blog_item.id }}">{{ blog_item.title }}</h2><span>{{ locale.format_date(blog_item.published, full_format=True, shorter=True) }}</span>
            <p>
                {{ blog_item.content }}
            </p>
        <hr>

    </div>
{% end %}