{% extends "base.html" %}
{% autoescape None %}
{% block content %}
    <div class="col-md-9">
<form role="form" action="" method="post">
  <div class="form-group {% if form.title.errors %}has-error{% end %}">
      {{ form.title.label }}
      {% if form.title.errors %}
        {% for error in form.title.errors %}
            {{error}}
        {% end %}
      {% end %}
      {{ form.title }}
  </div>
  <div class="form-group {% if form.description.errors %}has-error{% end %}">
      {{ form.description.label }}
      {% if form.description.errors %}
        {% for error in form.description.errors %}
            {{error}}
        {% end %}
      {% end %}
      {{ form.description }}
  </div>
  <div class="form-group {% if form.content.errors %}has-error{% end %}">
      {{ form.content.label }}
      {% if form.content.errors %}
        {% for error in form.content.errors %}
            {{error}}
        {% end %}
      {% end %}
      {{ form.content }}
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
{% end %}
{% block footer %}
<script type="text/javascript">
    // quick hack for wtform
    $(document).ready(function() {
        $("input").addClass( "form-control");
        $("textarea[name=description]").addClass( "form-control").attr("rows", 3);
        $("textarea[name=content]").addClass( "form-control").attr("rows", 10)
    })
</script>
{% end %}