{% extends "base.html" %}
{% block content %}

    <div class="col-md-3" id="leftCol">

        <div class="well">
        <ul class="nav nav-stacked" id="sidebar">
            {% for item in blog_items %}
                <li><a href="#{{ item.id }}">{{ item.title }}</a></li>
            {% end %}
        </ul>
        </div>

    </div>
    <div class="col-md-9">

        {% for item in blog_items %}
            <h2 id="{{ item.id }}"><a href="/blog/item/{{ item.id }}/">{{ item.title }}</a></h2><span>{{ locale.format_date(item.published, full_format=True, shorter=True) }}</span>
            <p>
                {{ item.description }}
            </p>
        <hr>
        {% end %}
        {% if prev_page %}
        <a href="/?page={{prev_page}}"><button type="button" class="btn btn-default"><<</button></a>
        {% end %}
        {% if next_page %}
        <a href="/?page={{next_page}}"><button type="button" class="btn btn-default">>></button></a>
        {% end %}
        <hr>
    </div>
{% end %}