{% extends "base.html" %}
{% autoescape None %}
{% block content %}
<div class="col-md-4">
        {% if errors %}
            <div class="bs-callout bs-callout-danger">
                <h4>
                    {% for error in errors %}
                        {{error}}
                    {% end %}
                </h4>
            </div>
        {% end %}
       <p class="text-success">use: username: simpals, password: simpals</p>
    <form role="form" action="" method="post">
      <div class="form-group {% if form.username.errors %}has-error{% end %}">
          {{ form.username.label }}
          {% if form.username.errors %}
            {% for error in form.username.errors %}
                {{error}}
            {% end %}
          {% end %}
          {{ form.username }}
      </div>
      <div class="form-group {% if form.password.errors %}has-error{% end %}">
          {{ form.password.label }}
          {% if form.password.errors %}
            {% for error in form.password.errors %}
                {{error}}
            {% end %}
          {% end %}
          {{ form.password }}
      </div>
      <button type="submit" class="btn btn-default">LogIn</button>
    </form>
</div>
{% end %}
{% block footer %}
<script type="text/javascript">
    // quick hack for wtform
    $(document).ready(function() {
        $("input").addClass( "form-control");
    })
</script>
{% end %}